---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  actions: read
  contents: read
  packages: write
  security-events: write

jobs:
  ci:
    uses: hassio-addons/workflows/.github/workflows/app-ci.yaml@bf24a85062d78a850e6747e4040527d40e023abd # v2.0.5
    with:
      slug: "bitwarden"

  deploy:
    needs: ci
    uses: hassio-addons/workflows/.github/workflows/app-deploy.yaml@bf24a85062d78a850e6747e4040527d40e023abd # v2.0.5
    with:
      slug: "bitwarden"
    secrets:
      DISPATCH_TOKEN: ${{ secrets.DISPATCH_TOKEN }}
